[submodule "Modules/Terraform_LocalStack"]
	path = Modules/Terraform_LocalStack
	url = https://github.com/ElectriPixie/Terraform_LocalStack.git
	branch = development
[submodule "Modules/Terraform_LocalStack_Module"]
	path = Modules/Terraform_LocalStack_Module
	url = https://github.com/ElectriPixie/Terraform_LocalStack_Module.git
	branch = main
